<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
    <% include ../views/partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Somos unos saltamontes</p>
    </div>
  </main>

  <footer>
    <% include ../views/partials/footer %>
  </footer>

</body>
</html>
