<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

    
      <% include ../views/partials/dashHeader %>
    
        
        
        
  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>

</body>
</html>