 <% include ../views/partials/dashHeader %>
  
  <article class="col-md-8 maincontent">
				<header class="page-header">
					
				</header>
    
        
        
        
  </article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>
</body>
</html>