 <% include ../views/partials/dashHeader %>
  
  <article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Eventos</h1>
				</header>
      <% if (message.length > 0) { %>
          <div class="bg-info"><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      
      <% if (eventos){ %>
      <% eventos.forEach(function(evento) { %>
             <img src=<%= eventos.MaraBox.Imagen %> alt="Mountain View" style="width:304px;height:228px">
	    <% }); %>
	    <% };%>
      
</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>
</body>
</html>