<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      
      
      <% eventos.forEach(function(eventos) { %>
             <img src=<%= eventos.MaraBox.Imagen %> alt="Mountain View" style="width:304px;height:228px">
	    <% }); %>
      

  </div>

  </div>

  <footer>
    <% include ../views/partials/footer %>
  </footer>

</body>
</html>