 <% include ../views/partials/dashHeader %>
  
  <article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registro de asistencia</h1>
				</header>
      <% if (message.length > 0) { %>
          <div class="bg-info"><%= message %>
            <% if (regman == 1) { %>
              <a href="/MaraBox/admin/registroPrimerUsuario">Registrar aqui</a>
            <% } %>
            <% if (regman == 2) { %>
              <a href="/MaraBox/admin/registroSolvencia">Registrar aqui</a>
            <% } %>
          </div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="/MaraBox/admin/clase/asistencia/registro/manual" method="post">
        
          <div class="form-group">
              <label>Cedula</label>
              <input type="text" class="form-control" name="cedula">
          </div>
          <div class="form-group">
            <label>Hora de clase</label>
            <select class="tipo" data-style="btn-info" name="hora">
                  <option value="06:00">06:00 am</option>
                  <option value="07:00">07:00 am</option>
                  <option value="08:00">08:00 am</option>
                  <option value="09:00">09:00 am</option>
                  <option value="10:00">10:00 am</option>
                  <option value="11:00">11:00 am</option>
                  <option value="12:00">12:00 pm</option>
                  <option value="13:00">01:00 pm</option>
                  <option value="14:00">02:00 pm</option>
                  <option value="15:00">03:00 pm</option>
                  <option value="16:00">04:00 pm</option>
                  <option value="17:00">05:00 pm</option>
                  <option value="18:00">06:00 pm</option>
                  <option value="19:00">07:00 pm</option>
                  <option value="20:00">08:00 pm</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Registrar Asistencia</button>
      </form>

      </article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>
</body>
</html>