<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <p>Bienvenido a IDAPP</p>
      <p>Los siguientes codigos son unicos para identificar la Aplicacion en el sistema de IDAPP y como identificador de seguridad.</p>
      </br>
      <p><strong>Box ID:</strong> <%= boxID %></p>
      <p><strong>BoxAdmin ID:</strong> <%= boxAdmin %></p>
      </br>
      <p>El codigo BoxAdmin es necesario para poder registrar a aquellas personas que administraran la aplicacion y registrar a los entrenadores. Si el codigo no es enviado junto con los datos del registro de usuario, este no podra ser registrado</p>


  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
