<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <strong><p>Por favor verifica tu correo en el siguiente <a href="http://127.0.0.1:8080/<%= validationURL %>">enlace</a></p></strong>

  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
